<main>
  <section class="form-section">
    <img src="logo.svg">
    <h2>{{title}}</h2>
    <ng-content></ng-content>
    <button (click)="submit()" class="primary-btn">{{primaryBtnText}}</button>
    <div class="divider">
      <div></div>
      <span>Or</span>
      <div></div>
    </div>
    <button (click)="navigate()" class="secondary-btn">{{secondaryBtnText}}</button>

  </section>

  <section class="main-section">
    <h1>You should, MoveIt!</h1>
    <img src="banner.svg" class="banner-img" alt="">
  </section>
</main>
